html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background: linear-gradient(#e7d212 0%, #0bd969 100%);
}

.menu {
    position: sticky width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    text-align: center;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: sans-serif;
    font-size: 20px;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

.alumni {
    text-align: center;
}
